.containerMembers {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
}

.spanText {
    position: absolute;
    font-size: 20px;
    line-height: 22px;
    color: #A09E9E;
    bottom: calc(100% + 8px);
}

.members {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #C2C2C2;
    overflow-y: auto;
}

@media(max-width: 899px) {
    .spanText {
        height: 12px;
        line-height: normal;
        font-size: 12px;
        bottom: calc(100% + 4px);
    }
}

@media (max-width: 520px) {
    .spanText {
        height: 12px;
        line-height: normal;
        font-size: 12px;
        bottom: calc(100% + 4px);
    }
}

